.post_container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 4em; */
}

.post_container video {
    margin-bottom: 1em;
}

.contentPost {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 150px; */
}

.post_container h1 {
    font-size: 3em;
    margin-bottom: .5em;
    color: #01257d;
}

.post_container h2 {
    font-weight: 400;
    margin-bottom: 1em;
    font-size: 2em;
    /* color: #00ffff; */
    color: #01257d;
}

.post_container h3 {
    margin-bottom: .5em;
    font-size: 1.5em;
    color: #01247d97;
}

.contentPost p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 20px;
    color: #01247dc6;
}
a {
    text-decoration: none;
}

img {
    width: 80%;
    border-radius: 25px;
}

div.sobre span {
    padding-right: 30px;
    color: #01247d97;
}

div.sobre {

}

/* Responsividade */
@media (max-width: 1024px) {
    .post_container h1 {
        font-size: 2.5em; /* Título menor */
    }

    .post_container h2 {
        font-size: 1.8em; /* Subtítulo menor */
    }

    .contentPost p {
        font-size: 1.2rem; /* Ajuste na fonte do texto */
    }
}

@media (max-width: 768px) {
    .post_container h1 {
        font-size: 2em;
    }

    .post_container h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .post_container h1{
        font-size: 1.5em;
    }

    .post_container h2 {
        font-size: 1.2em;
    }

    .contentPost p {
        font-size: 0.9rem;
    }
}